.main-about
	row()
	justify(center)
	vertical-align(middle)
	height 100%
	padding-top 39px
	@media screen and (max-width 480px)
		padding-top 58px
	@media screen and (max-height 650px)
		vertical-align()
