// Top bar
// -----------------------------------------
.top-bar
	background highlight
	width 100%
	text-align center
	position fixed
	z-index 2

//menu
.menu
	padding-left 0
	margin 0

.menu-item
	list-style none
	display inline-block

@media screen and (max-width 480px)
	.menu-item
		display list-item

.menu-link
	font-size 16px
	display inline-block
	text-decoration none
	color #fff
	padding 10px
	transition color .3s, background-color .3s

.menu-link:hover
	background-color dark-highlight
	color complementary

@media screen and (max-width 480px)
	.menu-link
		display block
		border-top 1px solid dark-highlight
		padding 20px 0

//menu mobile
.menu-open
	display none

@media screen and (max-width 480px)
	.menu-open
		display inline-block
		padding 15px 0

	.menu-open:hover
		cursor pointer
