extends ./../layouts/tag.jade

block page_infos
	-var title = "html"
	-var description = ""
	-var keywords = ""

block page_style
	-var skin = "bs-default"

block page_content
	-var page = "html"	//- Define the page content here
