//btn
.btn
	background-color highlight
	color #fff
	padding 10px 15px
	display inline-block
	margin 10px 0
	text-decoration none
	transition background-color .3s

.btn:hover
	background-color dark-highlight
