.heading-lv1
	font-size 32px
	margin 40px 0
	font-weight 400
	padding-left 15px
	text-align center
	color highlight
	display inline-block
	background-repeat no-repeat
	background-position left center
	@media screen and (max-width 520px)
		font-size 24px

.projects-icon
	padding 10px 5px 10px 60px
	background-image url("../img/projects.svg")

.core-projects-icon
	padding 10px 5px 10px 60px
	background-image url("../img/core-projects.svg")

.articles-icon
	padding 10px 5px 10px 60px
	background-image url("../img/articles.svg")

.talks-icon
	padding 10px 5px 10px 60px
	background-image url("../img/talk.svg")

.fun-icon
	padding 10px 5px 10px 60px
	background-image url("../img/fun.svg")
