.paragraph-about
	text-align center
	font-size 24px
	padding 0 130px
	@media screen and (max-width 800px)
			font-size 20px
			padding 0 50px
	@media screen and (max-width 480px)
			font-size 18px
			padding 0 20px
	& .strong
		font-weight 400
