// headings
.heading-lv1
	font-size 38px
	margin 40px 0
	font-weight 300
	padding-left 15px
	text-align center
	color #fff

@media screen and (max-width 520px)
	.heading-lv1
		font-size 24px

.heading-lv2
	color highlight
	font-weight 400
	margin 5px
	padding 0
	font-size 24px

// paragraph
.paragraph
	font-size 16px
	margin 5px
	padding 0
	color font-color-dafault

// strong
.strong
	color highlight
	font-weight 400

// headings
.heading-about
	margin 40px 0
	text-align center

@media screen and (max-width 480px)
	.heading-about
		font-size 52px

// paragraph
.paragraph-about
	text-align center
	font-size 24px
	padding 0 130px
	color #e7e7e7

.paragraph-about .strong
	color #fff
	font-weight 400

@media screen and (max-width 800px)
	.paragraph-about
		font-size 20px
		padding 0 50px

@media screen and (max-width 480px)
	.paragraph-about
		font-size 18px
		padding 0 20px
