doctype html
html(lang="en")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="")
		title Afonso Pacifer - Front-End Developer

	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main content
					
		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
