doctype html
html(lang="en")

	// header
	// -----------------------------------------
	head
		// metas
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(charset="utf-8")
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="")
		title Afonso Pacifer - Front-End Developer
		
		// favicons
		<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
		link(rel="icon" href="assets/img/icons/favicon-16.png" sizes="16x16")
		link(rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-144x144.png" sizes="144x144")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-114x114.png" sizes="114x114")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-72x72.png" sizes="72x72")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png")
    
		// CSS
		link(rel="stylesheet" href="assets/styles/style.min.css")
		
		// fonts
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
  
	body

		// menu
		// -----------------------------------------
		nav.top-bar
			img(src="assets/img/menu.png" class="menu-open" id="btnOpen")
			ul.menu#menu
				li.menu-item 
					a(href="#" class="menu-link active") About
				li.menu-item 
					a(href="#" class="menu-link") Projects
				li.menu-item 
					a(href="#" class="menu-link") Articles
				li.menu-item 
					a(href="#" class="menu-link") Talks
					
		// main
		// -----------------------------------------
		main.container-default
			div.home-title
				span.home-txt Its me!
				p.p-default Ola, meu nome é <strong>Afonso Pacifer</strong>, sou um desenvolvedor <strong>Front-End</strong> apaixonado pela web e tenho a honra de ajudar a construi-la. Atualmente tenho passado muito tempo me divertindo com <strong>CSS</strong>. Sou viciado em open source, e acredito que quando pessoas engajadas se unem por uma objetivo, podemos mudar tudo.
		
		// footer
		// -----------------------------------------
		footer.footer
			small.text-footer Hosted by Github Pages
			
		// scripts
		// -----------------------------------------
		script(src = "assets/scripts/scripts.min.js" type = "text/javascript" async)
