doctype html
html(lang = "pt-br")
	head
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(charset="utf-8")
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="Afonso Pacifer are a Front-End Developers")
    
		<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
		link(rel="icon" href="assets/img/icons/favicon-16.png" sizes="16x16")
		link(rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-144x144.png" sizes="144x144")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-114x114.png" sizes="114x114")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-72x72.png" sizes="72x72")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png")
    
		link(rel="stylesheet" href="assets/styles/style.min.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css')
    
		title Afonso Pacifer - Desenvolvedor Front-End
  
	body

		div.top-bar

		main.container

			img(class="photo" src="assets/img/afonso-pacifer.png" alt="Afonso Pacifer - Front-End Developer")
			div.text-about
				p
					|Olá, meu nome é <strong>Afonso Pacifer</strong>
					|tenho 23 anos e sou um <strong>Desenvolvedor Front-End</strong>
					|apaixonado pela web e suas infinitas possibilidades.  
				p
					|Sou entusiasta de novas tecnologias como os 	
					|<a href="https://developer.mozilla.org/en-US/Apps/Quickstart/Build/Intro_to_open_web_apps" target="_blank">
					|Open Web Apps</a>
					|, e acredito que levando uma Web aberta para todos, podemos mudar tudo.

			div.icons

				a(href="https://github.com/afonsopacifer" target="_blank")
					img(src="assets/img/github-icon.png" alt="Github icon")

				a(href="http://codepen.io/afonsopacifer/" target="_blank")
					img(src="assets/img/codepen-icon.png" alt="Codepen icon")

				a(href="https://twitter.com/afonsopacifer" target="_blank")
					img(src="assets/img/twitter-icon.png" alt="Teitter icon")

		footer.footer
			|hosted by
			|<a href="https://pages.github.com/" target="_blank">github pages</a>

		script(src = "assets/scripts/scripts.js" type = "text/javascript")
