doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Afonso Pacifer - Front-End Developer"
		-var description = "A front-end developer passionate for css who spends his time playing with open source projects"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title
		
		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main.vertical-centered
			
			div(class="container-centered" itemscope itemtype="http://schema.org/Person")
				img(src="assets/img/afonso-pacifer-2.png" srcset="assets/img/afonso-pacifer.png 1x, assets/img/afonso-pacifer@2x.png 2x" itemprop="image" alt="Afonso Pacifer" class="avatar")
				p.paragraph-about
					|Hello, my name is <strong class="strong" itemprop="name">Afonso Pacifer</strong> 
					|and I live in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Rio de Janeiro - Brazil.</span></span>
					br 
					|I am a <strong class="strong" itemprop="jobTitle">Front-End Developer</strong> <span itemprop="description"><strong class="strong">Passionate for CSS</strong>
					|addicted to <strong class="strong">Open Source</strong>.
					br
					|I believe that taking an <strong class="strong">open web</strong> for everyone <strong class="strong">we can change everything</strong>.</span>
				h1.heading-lv1 Let's work together?

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
