doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Afonso Pacifer - Front-End Developer"
		-var description = "A front-end developer passionate for css who spends his time playing with open source projects"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title
		
		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main-about
			div(class="container" itemscope itemtype="http://schema.org/Person")
				h1.heading-about
					img(src="assets/img/afonso-pacifer.png" srcset="assets/img/afonso-pacifer.png 1x, assets/img/afonso-pacifer@2x.png 2x" itemprop="image" alt="Afonso Pacifer")
				p.paragraph-about
					|Hello, my name is <strong class="strong" itemprop="name">Afonso Pacifer</strong> 
					|and I live in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Rio de Janeiro - Brazil.</span></span>
					br 
					|I am a <strong class="strong" itemprop="jobTitle">Front-End Developer</strong> <span itemprop="description"><strong class="strong">Passionate for CSS</strong>
					|addicted to <strong class="strong">Open Source</strong>.
					br
					|I believe that taking an <strong class="strong">open web</strong> for everyone <strong class="strong">we can change everything</strong>.</span>
			
			div.social-icons-container

				//github icon
				a(href="https://github.com/afonsopacifer" class="social-icon")
					include ./includes/icons/github-icon.jade

				//codepen icon
				a(href="http://codepen.io/afonsopacifer/" class="social-icon")
					include ./includes/icons/codepen-icon.jade

				//linkedin icon
				a(href="https://br.linkedin.com/in/afonsopacifer" class="social-icon")
					include ./includes/icons/linkedin-icon.jade

				//twitter icon
				a(href="https://twitter.com/afonsopacifer" class="social-icon")
					include ./includes/icons/twitter-icon.jade

				//facebook icon
				a(href="https://www.facebook.com/afonso.pacifer" class="social-icon")
					include ./includes/icons/facebook-icon.jade

				//medium icon
				a(href="https://medium.com/@afonsopacifer" class="social-icon")
					include ./includes/icons/medium-icon.jade

				//google plus icon
				a(href="https://plus.google.com/+AfonsoPacifer/" class="social-icon")
					include ./includes/icons/google-plus-icon.jade

				//stackOverflow icon
				a(href="http://pt.stackoverflow.com/users/21079/afonso-pacifer" class="social-icon")
					include ./includes/icons/stackOverflow-icon.jade

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
