doctype html
html(lang="en")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="")
		title Afonso Pacifer - Front-End Developer

	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main-about
			div.heading-about-container
				span.heading-about It's me!
				p.paragraph-about Ola, meu nome é <strong>Afonso Pacifer</strong>, sou um desenvolvedor <strong>Front-End</strong> apaixonado pela web e tenho a honra de ajudar a construi-la. Atualmente tenho passado muito tempo me divertindo com <strong>CSS</strong>. Sou viciado em open source, e acredito que quando pessoas engajadas se unem por uma objetivo, podemos mudar tudo.
			div.social-icons-container
				a(href="#")
					img(src="assets/img/github-icon.png")
				a(href="#")
					img(src="assets/img/facebook-icon.png")
				a(href="#")
					img(src="assets/img/twitter-icon.png")
				a(href="#")
					img(src="assets/img/google-plus-icon.png")
				a(href="#")
					img(src="assets/img/linkedin-icon.png")
				a(href="#")
					img(src="assets/img/medium-icon.png")
				a(href="#")
					img(src="assets/img/codepen-icon.png")
				a(href="#")
					img(src="assets/img/stackoverflow-icon.png")
					
		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
