doctype html
html(lang = "pt-br")
	head
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(charset="utf-8")
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="Afonso Pacifer, um Desenvolvedor Front-End apaixonado pela Web")
    
		<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
		link(rel="icon" href="assets/img/icons/favicon-16.png" sizes="16x16")
		link(rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-144x144.png" sizes="144x144")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-114x114.png" sizes="114x114")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-72x72.png" sizes="72x72")
		link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png")
    
		link(rel="stylesheet" href="assets/styles/style.min.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,250,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css')

		//Twitte Card
		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@afonsopacifer")
		meta(name="twitter:title" content="Afonso Pacifer")
		meta(name="twitter:description" content="Um Desenvolvedor Front-End apaixonado pela Web")
		meta(name="twitter:image" content="http://afonsopacifer.com.br/assets/img/afonso-pacifer.png")

		//Open Graph
		meta(property="og:title" content="Afonso Pacifer - Front-End Dev")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://afonsopacifer.com.br/")
		meta(property="og:image" content="http://afonsopacifer.com.br/assets/img/afonso-pacifer.png")
		
		title Afonso Pacifer - Um Desenvolvedor Front-End apaixonado pela Web
  
	body

		//- menu
		div.top-bar-bg
			div.top-bar
				div.logo Afonso Pacifer
				nav.menu-container
					img(src="assets/img/menu.png" class="menu-open" id="btnOpen")
					ul.menu#menu
						li.menu-item 
							a(href="#") Projetos
						li.menu-item 
							a(href="#") Artigos
						li.menu-item 
							a(href="#") Talks

		main.container
			
			img(class="photo" src="assets/img/afonso-pacifer.png" srcset="assets/img/afonso-pacifer.png 1x, assets/img/afonso-pacifer@2x.png 2x" alt="Afonso Pacifer - Front-End Developer")
			
			div.about
				p.featured-text
					|Olá, meu nome é <strong>Afonso Pacifer</strong>
					|tenho 23 anos e sou um <strong>Desenvolvedor Front-End</strong>
					|apaixonado pela web e suas infinitas possibilidades.  
				p.featured-text
					|Sou entusiasta de novas tecnologias como os 	
					|<a href="https://developer.mozilla.org/en-US/Apps/Quickstart/Build/Intro_to_open_web_apps" target="_blank">
					|Open Web Apps</a>
					|, e acredito que levando uma Web aberta para todos, podemos mudar tudo.

			div.icons
				a(href="https://github.com/afonsopacifer" target="_blank")
					img(src="assets/img/github-icon.png")
					
				a(href="http://codepen.io/afonsopacifer/" target="_blank")					
					img(src="assets/img/codepen-icon.png")
					
				a(href="https://twitter.com/afonsopacifer" target="_blank")
					img(src="assets/img/twitter-icon.png")

		footer.footer
			small
				|hosted by
				|<a href="https://pages.github.com/" target="_blank">github pages</a>

		script(src = "assets/scripts/scripts.min.js" type = "text/javascript" async)
