doctype html
html(lang="en")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS, CSS3, Javascript")
		meta(name="description" content="")
		title Projects by Afonso Pacifer

	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			div.container
				h1.heading-lv1 Projects
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
				
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			a(href="#" class="project")
				h2.heading-lv2 Write Code Every Day
				p.paragraph A project to honor those developers who believed in the challenge.
			
			div.container-centered
				a(href="#" class="btn") See all projects

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
