.footer
	margin-top 40px

.footer-up
	background-color #fff
	text-align center

.footer-up .link
	padding 10px

.footer-down
		background-color highlight
		text-align center

.footer-down .link
	padding 10px
	color #fff
