.footer
	margin-top 40px

.footer-up
	background-color #fff
	text-align center

.footer-up .link
	padding 10px
	font-size 14px

.footer-down
	background-color highlight
	text-align center
	padding 10px
	color #fff
	font-weight 300
	font-size 14px
