.main
	row()
	padding-top 40px
	min-height 100%
	margin-bottom -112px /* equal to footer height */

.main:after
	content ""
	display block
	height 112px /* equal to footer height */
	width 100%
