//article
.article
	col(6)
	offset(3)
	padding 10px
	background #fff
	margin-top 10px
	margin-bottom 10px

@media screen and (max-width 950px)
	.article
		col(8)
		offset(2)

@media screen and (max-width 790px)
	.article
		col(10)
		offset(1)

@media screen and (max-width 630px)
	.article
		col(12)
		offset()
		margin 5px 10px

.article img
	width 100%
	margin-bottom 10px
