svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='35', height='35')
  desc(ivinci='yes', version='4.6', gridstep='20', showgrid='no', snaptogrid='no', codeplatform='0')
  g#Layer1(name='Layer 2', opacity='1')
  g#Layer2(name='Layer 1', opacity='1')
    g#Shape1
      desc(shapeid='1', type='0', basicinfo-basictype='0', basicinfo-roundedrectradius='12', basicinfo-polygonsides='6', basicinfo-starpoints='5', bounding='rect(-122.235,-28.608,244.471,57.216)', text='', font-familyname='', font-pixelsize='20', font-bold='0', font-underline='0', font-alignment='1', strokestyle='0', markerstart='0', markerend='0', shadowenabled='0', shadowoffsetx='0', shadowoffsety='2', shadowblur='4', shadowopacity='160', blurenabled='0', blurradius='4', transform='matrix(0.0682327,0,0,0.0682327,17.2204,26.9693)', pers-center='0,0', pers-size='0,0', pers-start='0,0', pers-end='0,0', locked='0', mesh='', flag='')
      path#shapePath1(d='M8.87998,28.9213 L25.5609,28.9213 L25.5609,25.0173 L8.87998,25.0173 L8.87998,28.9213 Z', style='stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;')

    g#Shape2
      desc(shapeid='2', type='0', basicinfo-basictype='0', basicinfo-roundedrectradius='12', basicinfo-polygonsides='6', basicinfo-starpoints='5', bounding='rect(-205.98,-88.946,411.961,177.892)', text='', font-familyname='', font-pixelsize='20', font-bold='0', font-underline='0', font-alignment='1', strokestyle='0', markerstart='0', markerend='0', shadowenabled='0', shadowoffsetx='0', shadowoffsety='2', shadowblur='4', shadowopacity='160', blurenabled='0', blurradius='4', transform='matrix(0.0682327,0,0,0.0682327,17.5,28.931)', pers-center='0,0', pers-size='0,0', pers-start='0,0', pers-end='0,0', locked='0', mesh='', flag='')
      path#shapePath2(d='M31.5546,22.8619 L31.5546,35 L3.44541,35 L3.44541,22.8619 L6.95905,22.8619 L6.95905,30.9539 L28.0409,30.9539 L28.0409,22.8619 L31.5546,22.8619 Z', style='stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;')

    g#Shape3
      desc(shapeid='3', type='0', basicinfo-basictype='0', basicinfo-roundedrectradius='12', basicinfo-polygonsides='6', basicinfo-starpoints='5', bounding='rect(-125.025,-46.9757,250.05,93.9513)', text='', font-familyname='', font-pixelsize='20', font-bold='0', font-underline='0', font-alignment='1', strokestyle='0', markerstart='0', markerend='0', shadowenabled='0', shadowoffsetx='0', shadowoffsety='2', shadowblur='4', shadowopacity='160', blurenabled='0', blurradius='4', transform='matrix(0.0682327,0,0,0.0682327,17.5646,20.7908)', pers-center='0,0', pers-size='0,0', pers-start='0,0', pers-end='0,0', locked='0', mesh='', flag='')
      path#shapePath3(d='M9.03386,21.4075 L9.63436,17.5856 L26.0955,20.1742 L25.495,23.9961 L9.03386,21.4075 Z', style='stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;')

    g#Shape4
      desc(shapeid='4', type='0', basicinfo-basictype='0', basicinfo-roundedrectradius='12', basicinfo-polygonsides='6', basicinfo-starpoints='5', bounding='rect(-123.153,-74.6132,246.305,149.226)', text='', font-familyname='', font-pixelsize='20', font-bold='0', font-underline='0', font-alignment='1', strokestyle='0', markerstart='0', markerend='0', shadowenabled='0', shadowoffsetx='0', shadowoffsety='2', shadowblur='4', shadowopacity='160', blurenabled='0', blurradius='4', transform='matrix(0.0682327,0,0,0.0682327,19.6014,14.0968)', pers-center='0,0', pers-size='0,0', pers-start='0,0', pers-end='0,0', locked='0', mesh='', flag='')
      path#shapePath4(d='M11.1984,12.7306 L26.4248,19.1878 L28.0044,15.4629 L12.778,9.00569 L11.1984,12.7306 Z', style='stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;')

    g#Shape5
      desc(shapeid='5', type='0', basicinfo-basictype='0', basicinfo-roundedrectradius='12', basicinfo-polygonsides='6', basicinfo-starpoints='5', bounding='rect(-107.352,-105.961,214.704,211.923)', text='', font-familyname='', font-pixelsize='20', font-bold='0', font-underline='0', font-alignment='1', strokestyle='0', markerstart='0', markerend='0', shadowenabled='0', shadowoffsetx='0', shadowoffsety='2', shadowblur='4', shadowopacity='160', blurenabled='0', blurradius='4', transform='matrix(0.0682327,0,0,0.0682327,23.9744,7.45309)', pers-center='0,0', pers-size='0,0', pers-start='0,0', pers-end='0,0', locked='0', mesh='', flag='')
      path#shapePath5(d='M16.6495,3.11465 L28.4693,14.6832 L31.2993,11.7916 L19.4795,0.223082 L16.6495,3.11465 Z', style='stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;')
