footer.or-footer
  div.ml-footer-up
    a(href="https://github.com/afonsopacifer" class="at-text-link" target="_blank") Github
    a(href="http://codepen.io/afonsopacifer/" class="at-text-link" target="_blank") Codepen
    a(href="https://www.youtube.com/channel/UC9d_htYmYYFUXB2vBKx4NgA" class="at-text-link" target="_blank") YouTube
    a(href="https://twitter.com/afonsopacifer" class="at-text-link" target="_blank") Twitter
    a(href="https://br.linkedin.com/in/afonsopacifer" class="at-text-link" target="_blank") Linkedin
    a(href="https://www.facebook.com/afonso.pacifer" class="at-text-link" target="_blank") Facebook
    a(href="https://www.behance.net/afonsopacifer" class="at-text-link" target="_blank") Behance

  div.ml-footer-down Made with <span class="at-heart"></span> by me :)
