footer.footer
  div.footer-up
    a(href="https://github.com/afonsopacifer" class="text-link" target="_blank") Github
    a(href="http://codepen.io/afonsopacifer/" class="text-link" target="_blank") Codepen
    a(href="https://www.youtube.com/channel/UC9d_htYmYYFUXB2vBKx4NgA" class="text-link" target="_blank") YouTube
    a(href="https://twitter.com/afonsopacifer" class="text-link" target="_blank") Twitter
    a(href="https://br.linkedin.com/in/afonsopacifer" class="text-link" target="_blank") Linkedin
    a(href="https://www.facebook.com/afonso.pacifer" class="text-link" target="_blank") Facebook
    a(href="https://www.behance.net/afonsopacifer" class="text-link" target="_blank") Behance

  div.footer-down Made with <span class="heart"></span>
