extends ./layouts/default.jade

block page_infos
	-var title = "Afonso Pacifer"
	-var description = ""
	-var keywords = ""

block content
	div.featured
	main.main.container
		section.section.post
			h2.heading-lv2 Articles

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="btn") View All

		section.section.screencast
			h2.heading-lv2 Screencasts

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="btn") View All

		section.section.misc
			h2.heading-lv2 Misc

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdkssajhsjhajsjahsj jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdkssajhsjhajsjahsj jdksjdklsjdklsjdlksjd

			a(href="#" class="heading-link")
				article.article
					h3.heading-lv3 <span>Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdkssajhsjhajsjahsj jdksjdklsjdklsjdlksjd

			a(href="#" class="btn") View All
