extends ./layouts/default.jade

block page_infos
	-var title = "Afonso Pacifer"
	-var description = ""
	-var keywords = ""

block content

	//- Featured
	//- ===========================================
	div.featured

	//- Updates
	//- ===========================================
	main.main.container

		//- Articles list
		section.section.post
			h2.heading-lv2 Articles

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

		//- Screencasts list
		section.section.screencast
			h2.heading-lv2 Screencasts

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd

		//- Miscs list
		section.section.misc
			h2.heading-lv2 Misc

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdkssajhsjhajsjahsj jdksjdklsjdklsjdlksjd

			a(href="#" class="article-link")
				article.article
					h3.heading-lv3 <span class="heading-lv3-text">Exemplo fdf df dfd fdf df ds ds ds bh bh</span> <span class="date">Mar 19 2016</span>
					p.paraghaph djshdjkshdjhsdjhskjdsjdhskjdh djsdj skjd jsdkl jsldjsjkd skljdskljdskljdks jdksjdklsjdklsjdlksjd
