//headings
h1
	color #fff

h2
	color #fff

//paragraph
.text
	margin 5px 0
	font-size 1em
	color gray

.featured-text
	margin 10px 0
	font-size 1.5em
	color gray

@media (max-width 600px)
	.featured-text
		font-size 0.7em

//inline texts
strong
	color #fff
	font-weight 400

small
	color gray
	font-size 0.8em

//Links
a
	color pumpkin
	text-decoration none
	-webkit-transition opacity .3s
	transition opacity .3s

a:hover
	opacity 0.5
