@charset "UTF-8"

// vendors
// -----------------------------------------
@import "vendors/normalize"
@import "vendors/flex-grid-framework"

// colors
// -----------------------------------------
highlight = #008393
complementary = #eeeeee
font-color-dafault = #515151

// global
// -----------------------------------------
html,body
	height 100%

body
	background-color complementary
	font-family 'Roboto', sans-serif
	font-weight 300
	color font-color-dafault
	height 100%

// Dev view mode
// -----------------------------------------
div,nav,main,footer
	border 1px dashed #000

// Top bar
// -----------------------------------------
.top-bar
	background highlight
	width 100%
	text-align center
	position fixed

//menu
.menu
	padding-left 0
	margin 0

.menu-item
	list-style none
	display inline-block

@media screen and (max-width 480px)
	.menu-item
		display list-item

.menu-link
	font-size 16px
	color #000
	display inline-block
	text-decoration none
	color #fff
	padding 10px

.menu-link:hover
	color complementary

@media screen and (max-width 480px)
	.menu-link
		display block
		border-top 1px solid complementary

.active
	color complementary

//menu mobile
.menu-open
	display none

@media screen and (max-width 480px)
	.menu-open
		display inline-block
		padding 15px 0

// Aboout main
// -----------------------------------------
.main-about
	row()
	justify(center)
	vertical-align(middle)
	align-content center
	height 100%

.heading-about-container
	col(12)

.heading-about
	font-size 72px
	font-weight 700
	margin 40px 0
	width 100%
	text-align center
	display block

@media screen and (max-width 480px)
	.heading-about
		font-size 52px

.paragraph-about
	text-align center
	font-size 24px
	padding 0 150px

@media screen and (max-width 800px)
	.paragraph-about
		font-size 20px
		padding 0 50px

@media screen and (max-width 480px)
	.paragraph-about
		font-size 18px
		padding 0 20px

.paragraph-about strong
	color highlight
	font-weight 400

.social-icons-container
	col(12)
	text-align center
	margin 10px 0

.social-icons-container a
	padding 5px 7px
	display inline-block

// footer
// -----------------------------------------
.footer
	background-color highlight
	text-align center
	padding 10px 0

@media screen and (min-height 610px)
	.footer
		position fixed
		width 100%
		bottom 0

.text-footer
	font-size 14px
	color #fff
