@charset "UTF-8"

// vendors
// -----------------------------------------
@import "vendors/normalize"
@import "vendors/flex-grid-framework"

// colors
// -----------------------------------------
highlight = #62c5de
complementary = #eeeeee
font-color-dafault = #8d8d8d

// global
// -----------------------------------------
body
	background-color complementary
	font-family 'Roboto', sans-serif
	font-weight 300

// menu
// -----------------------------------------
.top-bar
	background highlight
	width 100%
	text-align center

.menu
	padding-left 0
	margin 0

.menu-item
	list-style none
	display inline-block

.menu-link
	font-size 16px
	color #000
	display inline-block
	text-decoration none
	color #fff
	padding 10px

.menu-link:hover
	color complementary

@media screen and (max-width 480px)
	.menu-item
		display list-item

@media screen and (max-width 480px)
	.menu-item a
		display block
		border-top 1px solid complementary

.menu-open
	display none

@media screen and (max-width 480px)
	.menu-open
		display inline-block
		padding 15px 0

.active
	color complementary

// footer
// -----------------------------------------
.footer
	background-color highlight
	text-align center
	padding 10px 0

.text-footer
	font-size 16px
	color #fff
