@charset "UTF-8"

// global
// -----------------------------------------
html,body
	height 100%

body
	height 100%
	background #e3e3e3

// vendors
// -----------------------------------------
@import "vendors/flex-grid-framework"

// bósons
// -----------------------------------------
@import "bosons/colors.styl"
@import "bosons/fonts.styl"
// @import "bosons/mixins.styl"

// Atoms
// -----------------------------------------
@import "atoms/avatar"
@import "atoms/links"
@import "atoms/btn"
@import "atoms/heading-lv1"
@import "atoms/heading-lv2"
@import "atoms/strong"
@import "atoms/paragraph"
@import "atoms/paragraph-about"

// Molecules
// -----------------------------------------
@import "molecules/box-default" // Articles and Talks
@import "molecules/box-projects"

// Organisms (Layouts)
// -----------------------------------------
@import "organisms/main.styl"
@import "organisms/containers.styl"
@import "organisms/footer.styl"

// No repeat
// -----------------------------------------
@import "no-repeat/top-bar"
@import "no-repeat/codepen-box"
@import "no-repeat/social"
