/* containers
=========================================== */

/* global
=========== */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--complementary-background);
  padding: 40px 0;
}

.section {
  flex: 1;
  margin: 5px;
}

.article {
  padding-bottom: 5px;
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}

.article-link {
  text-decoration: none;
  display: block;
}

.list-articles {
  display: flex;
  flex-wrap: wrap;
}

.list-articles > .article {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .list-articles > .article {
    width: 100%;
  }
}

.img {
  width: 100%;
}
