/* header
=========================================== */

.header {
  background-color: var(--highlight-background);
  color: var(--highlight-color);
  border-bottom: 4px solid #262626;
}

.top-bar {
  display: flex;
  align-items: center;
}

/* logo
=========== */
.logotipo {
  margin: 0;
  padding: 0;
  text-align: center;
  order: 1;
}

@media screen and (max-width: 768px) {
  .logotipo {flex: 1;}
}

.heading-lv1 {
  color: #dedddd;
  font-size: 24px;
  display: block;
  font-weight: 400;
}

.sub-heading {
  color: #dedddd;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

/* menu
=========== */
@media screen and (min-width: 768px) {
  .nav {
    flex: 1;
  }
}

.nav {
  order: 2;
}

@media screen and (min-width: 768px) {
  .btn-open {display: none;}
}

.menu {
  padding-left: 0px;
  margin: 0px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    background-color: var(--highlight-background);
    text-align: left;
  }
}

.iten-menu {list-style: none;}

@media screen and (min-width: 768px) {
  .iten-menu {display: inline-block;}
}

.link-menu {
  color: #dedddd;
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .link-menu {background: #262626;}
}

/* link to Cast Show
=========== */
.css-cast-show {
  padding: 5px 10px;
  margin-left: 10px;
  order: 3;
}

@media screen and (max-width: 768px) {

  .logotipo {
    order: 2;
  }

  .nav {
    order: 1;
  }

  .css-cast-show {
    order: 3;
  }

}
