/* logotipo
=========================================== */
.ml-logotipo {
  margin: 0;
  padding: 0;
  text-align: center;
  order: 1;
}

@media screen and (max-width: 768px) {
  .ml-logotipo {flex: 1;}
}

/* menu
=========================================== */
@media screen and (min-width: 768px) {
  .ml-nav {
    flex: 1;
  }
}

.ml-nav {
  order: 2;
}

.ml-menu {
  padding-left: 0px;
  margin: 0px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .ml-menu {
    position: absolute;
    background-color: var(--highlight-background);
    text-align: left;
  }
}

.ml-iten-menu {list-style: none;}

@media screen and (min-width: 768px) {
  .ml-iten-menu {display: inline-block;}
}

@media screen and (max-width: 768px) {

  .ml-logotipo {
    order: 2;
  }

  .ml-nav {
    order: 1;
  }
}

/* article
=========================================== */
.ml-article {
  padding-bottom: 5px;
  background: #fff;
  padding: 10px;
  margin: 10px 5px;
}

/* heading-lv3
=========================================== */
.ml-heading-lv3 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 0 10px 0;
  display: flex;
  min-height: 40px;
}

/* tags
=========================================== */
.ml-tags {
  width: 100%;
  margin: 15px 0;
}

/* footer
=========================================== */
.ml-footer-up {
  background-color: #fff;
  text-align: center;
}

.ml-footer-up .at-text-link {
  padding: 10px;
  font-size: .9em;
}

.ml-footer-down {
  background-color: var(--highlight-background);
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: 300;
  font-size: .9em;
}
