.or-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.or-header {
  background-color: var(--highlight-background);
  color: var(--highlight-color);
}

.or-main {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--complementary-background);
  padding: 40px 0;
}

.or-section {
  flex: 1;
  margin: 5px 0;
}

.or-list-article {
  display: flex;
  flex-wrap: wrap;
}

.or-list-article > .ml-article{
  width: calc((100%/3) - 10px);
}

.or-footer {

}
