/* skins
=========================================== */

/* posts
=========== */
.post .heading-lv2 {
  border-bottom: 4px solid var(--posts-color);
}

.post .heading-lv3 {
  color: var(--posts-color);
}

.post .btn {
  background-color: var(--posts-color);
  color: #fff;
}

.post .tag {
  border: 1px solid var(--posts-color);
  color: var(--posts-color);
}

/* screencasts
=========== */
.screencast .heading-lv2 {
  border-bottom: 4px solid var(--screencasts-color);
}

.screencast .heading-lv3 {
  color: var(--screencasts-color);
}

.screencast .btn {
  background-color: var(--screencasts-color);
  color: #fff;
}

.screencast .tag {
  border: 1px solid var(--screencasts-color);
  color: var(--screencasts-color);
}

/* miscs
=========== */
.misc .heading-lv2 {
  border-bottom: 4px solid var(--miscs-color);
}

.misc .heading-lv3 {
  color: var(--miscs-color);
}

.misc .btn {
  background-color: var(--miscs-color);
  color: #fff;
}

.misc .tag {
  border: 1px solid var(--miscs-color);
  color: var(--miscs-color);
}

/* talks
=========== */
.talk .heading-lv2 {
  border-bottom: 4px solid var(--talks-color);
}

.talk .heading-lv3 {
  color: var(--talks-color);
}

.talk .btn {
  background-color: var(--talks-color);
  color: #fff;
}

.talk .strong {
  color: var(--talks-color);
  font-weight: 400;
}
