@import "bosons.css";
@import "atoms.css";
@import "molecules.css";
@import "organisms.css";

/* Blog styles, for markdown ;)
=========================================== */

.or-text-paper h2 {
  font-size: 20px;
  color: var(--challenges-color);
  font-weight: 400;
}

.or-text-paper p {
  color: #262626;
}

.or-text-paper li {
  color: #262626;
  margin-top: 20px;
  margin-bottom: 20px;
}

.or-text-paper b {
  color: var(--challenges-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.or-text-paper hr {
  width: 100%;
  height: 4px;
  border: 0;
  max-width: 600px;
  color: var(--challenges-color);
  background: #f1efef;
  margin: 60px auto;
}

.or-text-paper img {
  width: 100%;
}
