:root {
  --highlight-background: #029494;
  --highlight-color: #fff;
  --complementary-background: #ededed;
  --complementary-color: #313131;
  --posts-color: #ff0066;
  --screencasts-color: #029494;
  --miscs-color: #ee872c;
  --talks-color: #905cb1;
  --projects-color: #fac800;
}
