:root {
  --highlight-background: #333;
  --highlight-color: #fff;
  --complementary-background: #ededed;
  --complementary-color: #313131;
  --posts-color: #ff0066;
  --screencasts-color: #029494;
  --miscs-color: #d8c316;
  --talks-color: #875fb3;
}
