footer.footer

	div.footer-up
		a(href="#" class="link") Github
		a(href="#" class="link") Twitter
		a(href="#" class="link") Linkedin
		a(href="#" class="link") Codepen
		a(href="#" class="link") Facebook

	div.footer-down
		a(href="#" class="link") afonsopacifer@live.com
