footer.footer
	div.footer-up
		a(href="https://github.com/afonsopacifer" class="link" target="_blank") Github
		a(href="https://twitter.com/afonsopacifer" class="link" target="_blank") Twitter
		a(href="https://br.linkedin.com/in/afonsopacifer" class="link" target="_blank") Linkedin
		a(href="http://codepen.io/afonsopacifer/" class="link" target="_blank") Codepen
		a(href="https://www.facebook.com/afonso.pacifer" class="link" target="_blank") Facebook
		a(href="https://www.behance.net/afonsopacifer" class="link" target="_blank") Behance

	div.footer-down
		|afonsopacifer@live.com
