nav.top-bar
	img(src="assets/img/menu.svg" class="menu-open" id="btnOpen")

	ul.menu#menu
		li.menu-item 
			a(href="index.html" class="menu-link") About
		li.menu-item 
			a(href="projects.html" class="menu-link") Projects
		li.menu-item 
			a(href="articles.html" class="menu-link") Articles
		li.menu-item 
			a(href="talks.html" class="menu-link") Talks
		li.menu-item 
			a(href="demos.html" class="menu-link") Demos
