nav.top-bar
	img(src="assets/img/menu.png" class="menu-open" id="btnOpen")
	ul.menu#menu
		li.menu-item 
			a(href="#" class="menu-link active") About
		li.menu-item 
			a(href="#" class="menu-link") Projects
		li.menu-item 
			a(href="#" class="menu-link") Articles
		li.menu-item 
			a(href="#" class="menu-link") Talks
